export GEM_URL_AGENT="http://gem-enterprise-metrics-gateway.gem.svc.cluster.local:8080/api/v1/push"
export GEM_USERNAME_AGENT="homelab"
export GEM_PASSWORD_AGENT="cHVzaC1tZXRyaWNzLWFnZW50OiU5OTQ4eyg3SUU/eCgzODZLMSQvfislNQ=="

# don't use /promtheus or else alerts wont work
export GEM_URL_GRAFANA="http://gem-enterprise-metrics-gateway.gem.svc.cluster.local:8080/api/prom"
export GEM_USERNAME_GRAFANA="homelab"
export GEM_PASSWORD_GRAFANA="ZGF0YXNvdXJjZS1ncmFmYW5hOjJbNjwwOTR+MyI2LTMxc0BEQEspfWc9MQ=="

export GEL_URL_AGENT="http://enterprise-logs-test-fixture-gateway.gel.svc.cluster.local:3100/loki/api/v1/push"
export GEL_USERNAME_AGENT="top-rack-flatcar"
export GEL_PASSWORD_AGENT="dG9wLXJhY2stZmxhdGNhci1hZ2VudC10b3AtcmFjay1mbGF0Y2FyLWFnZW50OjQsKTg2IjhXKXtkcDM9JmBdM3taOTgxMA=="

export GEL_URL_GRAFANA="http://enterprise-logs-test-fixture-gateway.gel.svc.cluster.local:3100"
export GEL_USERNAME_GRAFANA="top-rack-flatcar"
export GEL_PASSWORD_GRAFANA="dG9wLXJhY2stZmxhdGNhci1ncmFmYW5hLXRvcC1yYWNrLWZsYXRjYXItZ3JhZmFuYS10b2tlbjpjcWA0RjA/MSMyNV4xci0wMzApXDRbIyY="



export TEMPO_ENDPOINT="tempo.tempo.svc.cluster.local:4317"