export CORTEX_API_KEY="bGFwdG9wLWFsbC10ZXN0Oj8zOU04VjU6JSE9fTR9ODQmWi0zMHsxeg=="
export CORTEX_TENANT_ID=laptop
export CORTEX_ADDRESS="https://gem.lab.home/api/prom"
export GRAFANA_ADDRESS="https://grafana.lab.home"
export GRAFANA_API_KEY="eyJrIjoiZ0lDMXY3ak5PMVFUTHdPU2t4NjZTRkU2N2dFOFZMb0siLCJuIjoiY29ydGV4dG9vbCIsImlkIjoxfQ=="